<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Ogiltig objektidentitet: {{fid}}</h3>
       Alternativt inga byggnader på fastigheten.
    </div>
  </div>
</div>
